.head{
    width: 100%;
    min-height: 45px;
    float: left;
    background-color: rgb(45, 45, 45);
}

.head-left{
    width: 50%;
    min-height: 45px;
    float: left;
}

.phone-number{
    width: 200px;
    height: 25px;
    margin: 10px 0px 0px 20px;
    float: left;
}

.phone-icon{
    width: 20px;
    height: 18px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    border-radius: 5px;
    background-color: white;
}

.phone-text{
    width: 150px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    color: white;
}


.head-right{
    width: 40%;
    min-height: 45px;
    float: left;
    display: flex;
    justify-content: end;
}

.icons{
    width: 250px;
    min-height: 45px;
    float: left;
}

.facebook-icon i{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 86, 86);
    color: white;
}

.twitter-icon i{
    width: 25px;
    height: 25px;
    margin: 10px 0px 0px 5px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 86, 86);
    color: white;
}

.linkedin-icon i{
    width: 25px;
    height: 25px;
    margin: 10px 0px 0px 5px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 86, 86);
    color: white;
}

.web-icon i{
    width: 25px;
    height: 25px;
    margin: 10px 0px 0px 5px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 86, 86);
    color: white;
}

.skype-icon i{
    width: 25px;
    height: 25px;
    margin: 10px 0px 0px 5px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 86, 86);
    color: white;
}

.search-icon i{
    margin: 15px 0px 0px 35px;
    float: left;
    color: white;
}



.first-navbar{
    min-height: 95px;
}

.navbar-1-1{
    min-height: 95px;
    background-color: rgb(29, 29, 29);
}

.navbar-left-side{
    width: 20%;
    height: 95px;
    float: left;
    margin-left: 15px;
}

.logo{
    width: 120px;
    height: 95px;
    float: left;
}

.logo img{
    width: 120px;
    height: 95px;
}

.navbar-2{
    min-height: 95px;
    background-color: rgb(29, 29, 29);
}

.navbar-right-side{
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    float: left;
}

.home-button a{
    width: 55px;
    height: 35px;
    float: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.home-button:hover{
    background-color: orangered;
    border-radius: 10%;
}

.about-us-button a{
    width: 70px;
    height: 35px;
    float: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.about-us-button:hover{
    background-color: orangered;
    border-radius: 10%;
}

.services-button a{
    width: 65px;
    height: 35px;
    float: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.services-button:hover{
    background-color: orangered;
    border-radius: 10%;
}

.portfolio-button a{
    width: 60px;
    height: 35px;
    float: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.portfolio-button:hover{
    background-color: orangered;
    border-radius: 10%;
}

.pages-button a{
    width: 60px;
    height: 35px;
    float: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.pages-button:hover{
    background-color: orangered;
    border-radius: 10%;
}

.blog-button a{
    width: 60px;
    height: 35px;
    float: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.blog-button:hover{
    background-color: orangered;
    border-radius: 10%;
}

.contact-button a{
    width: 60px;
    height: 35px;
    float: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.contact-button:hover{
    background-color: orangered;
    border-radius: 10%;
}


.content-1{
    min-height: 461px;
    background-color: gray;
    display: flex;
    align-items: center;
    background-image: url("../img/content-image.webp");
    background-size: cover;
}

.content-1-1{
    width: 100%;
    min-height: 400px;
    float: left;
}



.content-1-2{
    width: 44%;
    min-height: 300px;
    float: left;
}

.left-icon i{
    width: 35px;
    height: 35px;
    margin: 170px 0px 0px 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    color: white;
    background-color: orangered;
}

.text{
    width: 100%;
    min-height: 210px;
    margin: 40px 0px 0px 60px;
    float: left;
}

.text-1-1{
    width: 70%;
    min-height: 150px;
    float: left;
    color: white;
    font-size: 46px;
}

.text-1-2{
    width: 90%;
    min-height: 60px;
    float: left;
    font-size: 18px;
    color: white;
}

.content-button{
    width: 80%;
    min-height: 60px;
    margin-left: 60px;
    float: left;
}

.button {
    border: none;
    border-radius: 5%;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.learn-more-button{
    background-color: orangered;
}

.get-started-button{
    background-color: gray;
    opacity: 0.8;
}


.right-icon i{
    width: 35px;
    height: 35px;
    margin-top: 170px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    color: white;
    background-color: orangered;
}

.circle-icons{
    width: 100%;
    height: 20px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.circle-icons i{
    margin-left: 10px;
}